.App {
   text-align: center;
}

body {
   font-family: "nanumsquare";
}

.App-logo {
   height: 40vmin;
   pointer-events: none;
}

.textArea {
   display: flex;
   justify-content: center;
}
.textBox {
   width: 80rem;
   height: 5rem;
}

.textBoxButton {
   width: 10rem;
}

.singleTweet {
   width: 50rem;
   margin-left: 3rem;
   border: 3px solid gray;
   text-align: left;
}

@media (prefers-reduced-motion: no-preference) {
   .App-logo {
      animation: App-logo-spin infinite 20s linear;
   }
}

.App-header {
   background-color: #282c34;
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   font-size: calc(10px + 2vmin);
   color: white;
}

.App-link {
   color: #61dafb;
}

@keyframes App-logo-spin {
   from {
      transform: rotate(0deg);
   }
   to {
      transform: rotate(360deg);
   }
}
